---
import Layout from '../layouts/BlogPost.astro';
---
<!-- heroImage="/blog-placeholder-about.jpg"-->
<Layout
	title="About"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('October 30 2024')}
>
	<p>
		NixSphere is a new Linux distribution that aims to be a simple, fast, and easy to use for non-NixOS users, and even first-time Linux users.
	</p>
	<p>
		This is possible because we're uniqely able to combine the benefits of NixOS and the Nixpkgs ecosystem, with a fully functional desktop and convienece tools so that the end user doesn't need to understand how Nix works, just to get their work done.
	</p>
</Layout>
