---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>NixSphere</h1>
			<p>
				Welcome to the internet home of the NixSphere project.
			</p>
			<p>
				NixSphere is a new distribution by a group of NixOS enthusiasts, for everyone to use.
			</p>
			<p>
				Read more about the project on the about page.
			</p>
		</main>
		<Footer />
	</body>
</html>
